.a1{
    background-image: url(/平安校园服务大厅-04.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

#b1{
    padding-left: 36.5%;
    padding-top: 53.5%;
}

#b2{
    padding-left: 45%;
    padding-top: 2%;
}


#b3{
    padding-left: 36.5%;
    padding-top: 2%;
}